torch>=2.0
transformers>=4.40
datasets
accelerate
einops
flash-attn>=2.5
triton
deepspeed
sentencepiece
tokenizers
safetensors
peft
flash-linear-attention
lm_eval
lm_eval[ruler]
rouge-score
fuzzywuzzy
nltk
evaluate
html2text
beautifulsoup4
